# MongoDB client configuration file for connecting to a MongoDB server.
#
# Instructions:
# 
# 1. Update `uri` so it contains the MongoDB server connection string.
#
#    Syntax:
#      mongodb://{user}:{password}@{host}:{port}/?authSource={auth_database}
#
#    Example: 
#      Assuming username is "root",  password is "pass", host is "localhost",
#      port is "27017", and name of authentication database is "admin",
#      the value of `uri` would be:
#      ```
#      mongodb://root:pass@localhost:27017/?authSource=admin
#      ```
#
#    Example:
#      Assuming the same scenario as in the previous example, but without
#      access control enabled (i.e. no username/password),
#      the value of `uri` would be:
#      ```
#      mongodb://localhost:27017/
#      ```
#
#    Reference: 
#      https://www.mongodb.com/docs/database-tools/mongodump/#std-option-mongodump.--uri
#
uri: mongodb://user:pass@localhost:27017/?authSource=admin