# These are absolute paths to the `mongodump` and `mongorestore` programs.
PATH_TO_MONGODUMP_BINARY = "__REPLACE_ME__"     # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongodump"
PATH_TO_MONGORESTORE_BINARY = "__REPLACE_ME__"  # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongorestore"
