# Paths to Mongo config files.
PATH_TO_ORIGIN_MONGO_CONFIG_FILE = "./.mongo.origin.yaml"
PATH_TO_TRANSFORMER_MONGO_CONFIG_FILE = "./.mongo.transformer.yaml"

# Paths to folders in which the notebook will store Mongo dumps.
PATH_TO_ORIGIN_MONGO_DUMP_FOLDER = "./mongodump.origin.out"
PATH_TO_TRANSFORMER_MONGO_DUMP_FOLDER = "./mongodump.transformer.out"

# These are absolute paths to the `mongodump` and `mongorestore` programs.
PATH_TO_MONGODUMP_BINARY = "__REPLACE_ME__"     # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongodump"
PATH_TO_MONGORESTORE_BINARY = "__REPLACE_ME__"  # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongorestore"
