# Paths to folders in which the notebook will store Mongo dumps.
PATH_TO_ORIGIN_MONGO_DUMP_FOLDER = "./mongodump.origin.out"
PATH_TO_TRANSFORMER_MONGO_DUMP_FOLDER = "./mongodump.transformer.out"

# These are absolute paths to the `mongodump`, `mongorestore`, and `mongosh` programs.
PATH_TO_MONGODUMP_BINARY = "__REPLACE_ME__"  # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongodump"
PATH_TO_MONGORESTORE_BINARY = "__REPLACE_ME__"  # e.g. "/Users/Alice/Downloads/mongodb-database-tools-macos-arm64-100.7.4/bin/mongorestore"
PATH_TO_MONGOSH_BINARY = "__REPLACE_ME__"  # e.g. "/Users/Alice/Downloads/mongosh-1.10.6-darwin-x64/bin/mongosh"

# Connection parameters for the Origin Mongo server (typically a remote serve).
ORIGIN_MONGO_HOST="__REPLACE_ME__"
ORIGIN_MONGO_PORT="__REPLACE_ME__"
ORIGIN_MONGO_USERNAME="__REPLACE_ME__"
ORIGIN_MONGO_PASSWORD="__REPLACE_ME__"

# Connection parameters for the Transformer Mongo server (typically a local server).
TRANSFORMER_MONGO_HOST="__REPLACE_ME__"
TRANSFORMER_MONGO_PORT="__REPLACE_ME__"
TRANSFORMER_MONGO_USERNAME="__REPLACE_ME__"
TRANSFORMER_MONGO_PASSWORD="__REPLACE_ME__"
