services:

  # Postgres server used by Dagster.
  #
  # > This service runs the postgres DB used by dagster for run storage, schedule storage,
  # > and event log storage.
  # > Tests use `postgres:17` image.
  # > https://github.com/dagster-io/dagster/blob/0.11.9/python_modules/libraries/dagster-postgres/dagster_postgres_tests/docker-compose.yml
  #
  dagster-postgresql:
    image: postgres:17
    environment:
      POSTGRES_USER: "postgres_user"
      POSTGRES_PASSWORD: "postgres_password"
      POSTGRES_DB: "postgres_db"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Web server that hosts the Dagster web UI.
  #
  # > This service runs dagit.
  # > Since our instance uses the QueuedRunCoordinator, any runs submitted from dagit will be put on
  # > a queue and later dequeued and launched by dagster-daemon.
  #
  dagster-dagit:
    build:
      context: .
      dockerfile: nmdc_runtime/Dockerfile
      target: dagster
    entrypoint: ["tini", "--", "../lib/nmdc_runtime/site/entrypoint-dagit.sh"]
    expose:
      - "3000"
    ports:
      - "${DEV_STACK_HOST_MACHINE_PORT_DAGIT}:3000"
    environment:
      DAGSTER_POSTGRES_USER: "postgres_user"
      DAGSTER_POSTGRES_PASSWORD: "postgres_password"
      DAGSTER_POSTGRES_DB: "postgres_db"
    depends_on:
      - dagster-postgresql
    restart: on-failure
    volumes:
      - .:/opt/dagster/lib
      # Note: We create this anonymous mount in order to prevent the host's `.venv` directory
      #       from being mounted at this location within the container.
      - /opt/dagster/lib/.venv
    env_file: .env

  # Dagster daemon.
  #
  # > This service runs the dagster-daemon process, which is responsible for taking runs
  # > off of the queue and launching them, as well as creating runs from schedules or sensors.
  #
  dagster-daemon:
    build:
      context: .
      dockerfile: nmdc_runtime/Dockerfile
      target: dagster
    entrypoint: ["tini", "--", "../lib/nmdc_runtime/site/entrypoint-daemon.sh"]
    restart: on-failure
    environment:
      DAGSTER_POSTGRES_USER: "postgres_user"
      DAGSTER_POSTGRES_PASSWORD: "postgres_password"
      DAGSTER_POSTGRES_DB: "postgres_db"
    depends_on:
      dagster-postgresql: { condition: service_started }
      mongo: { condition: service_started }
    volumes:
      - .:/opt/dagster/lib
      # Note: We create this anonymous mount in order to prevent the host's `.venv` directory
      #       from being mounted at this location within the container.
      - /opt/dagster/lib/.venv
    env_file: .env

  # Uvicorn server hosting the FastAPI application.
  fastapi:
    build:
      context: .
      dockerfile: nmdc_runtime/Dockerfile
      target: fastapi
    ports:
      - "${DEV_STACK_HOST_MACHINE_PORT_FASTAPI}:8000"
    volumes:
      - .:/code
      # Note: We create this anonymous mount in order to prevent the host's `.venv` directory
      #       from being mounted at this location within the container.
      - /code/.venv
    depends_on:
      mongo: { condition: service_started }
    # Note: We use `--reload-exclude` to prevent Uvicorn from restarting the FastAPI
    #       app whenever files in the `util/load_testing/` directory change. Developers
    #       oftentimes modify those files while doing load testing, and those files are
    #       not part of the FastAPI app.
    #       Docs: https://www.uvicorn.org/settings/?h=watch#reloading-with-watchfiles
    command: ["uv", "run", "--active", "--no-sync", "uvicorn", "nmdc_runtime.api.main:app", "--reload", "--host", "0.0.0.0", "--port", "8000", "--reload-exclude", "util/load_testing/*"]
    env_file: .env
    # Note: Setting `tty: true` makes it so the console output is in color.
    #       Reference: https://docs.docker.com/reference/cli/docker/container/run/#tty
    tty: true

  # MongoDB server used by the FastAPI application.
  # TODO: Why does this service (which is in the dev—not test—stack), mount descendants of `./tests` — is that intentional?
  mongo:
    image: mongo:8.2.3
    ports:
      - "${DEV_STACK_HOST_MACHINE_PORT_MONGO}:27017"
    restart: unless-stopped
    # Configure MongoDB to run in replica set mode, so we can use MongoDB transactions.
    # Note: MongoDB authentication is disabled for local development/testing.
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo_data:/data/db
      - ./.docker/mongo/01-init.js:/docker-entrypoint-initdb.d/01-init.js:ro
      - ./tests/nmdcdb:/nmdcdb_dump:ro
      - ./tests/mongorestore-nmdc-testdb.sh:/mongorestore-nmdc-testdb.sh:ro

volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local

name: nmdc-runtime-dev