.nmdc-info {
    padding: 1em;
    background-color: #448aff1a;
    border: .075rem solid #448aff;
}
.nmdc-info-token code {
    font-size: x-small;
}
.nmdc-success {
    color: green;
}
.nmdc-error {
    color: red;
}

/** 
 * Hides the following text from the Swagger UI modal login form:
 *
 * > Scopes are used to grant an application different levels of
 * > access to data on behalf of the end user. Each API may declare
 * > one or more scopes.
 * > 
 * > API requires the following scopes. Select which ones you want
 * > to grant to Swagger UI.
 *
 * TODO: Check whether this text can be hidden via standard
 *       Swagger UI configuration, rather than custom CSS.
 */
.auth-wrapper .modal-ux-content .auth-container .scope-def {
    display: none;
}
