.nmdc-info {
    padding: 1em;
    background-color: #448aff1a;
    border: .075rem solid #448aff;
}
.nmdc-info-token code {
    font-size: x-small;
}
.nmdc-success {
    color: green;
}
.nmdc-error {
    color: red;
}
