# These are for the MongoDB server you want to migrate (e.g. a MongoDB server hosted on Spin).
ORIGIN_MONGO_USER = "your mongo username"
ORIGIN_MONGO_PASS = "your mongo password"
ORIGIN_MONGO_HOST = "your mongo hostname"  # e.g. "localhost", "host.docker.internal"
ORIGIN_MONGO_PORT = "your mongo port"      # e.g. "27017"

# These are for the MongoDB server you want to use to do the data transformation (e.g. a local MongoDB server).
TRANSFORMER_MONGO_USER = "your mongo username"  # e.g. "admin"
TRANSFORMER_MONGO_PASS = "your mongo password"  # e.g. "root"
TRANSFORMER_MONGO_HOST = "your mongo hostname"  # e.g. "localhost", "host.docker.internal"
TRANSFORMER_MONGO_PORT = "your mongo port"      # e.g. "27017"

# These are absolute paths to the `mongodump` and `mongorestore` programs.
PATH_TO_MONGODUMP_BINARY = "path to mongodump binary"        # e.g. "/Users/alice/tools/mongodump"
PATH_TO_MONGORESTORE_BINARY = "path to mongorestore binary"  # e.g. "/Users/alice/tools/mongorestore"
