name: Build Docker images and release to Spin

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '.github/workflows/build-and-release-to-spin.yml'
      - 'Makefile'
      - '**.Dockerfile'
      - '**.py'
      - 'requirements/main.txt'

env:
  # We don't want to do certain steps if this is running in a fork
  IS_ORIGINAL_REPO: ${{ github.repository == 'microbiomedata/nmdc-runtime' }}

  # Used to determine if we add the special `prod` Docker image tag
  IS_PROD_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

  # Used when sending redeploy action requests to Rancher
  RANCHER_NAMESPACE: ${{ startsWith(github.ref, 'refs/tags/v') && 'nmdc' || 'nmdc-dev' }}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image: [ fastapi, dagster ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # history for all branches and tags is needed for setuptools-scm (part of build and push step)
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            microbiomedata/nmdc-runtime-${{ matrix.image }}
            ghcr.io/microbiomedata/nmdc-runtime-${{ matrix.image }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=prod,enable=${{ env.IS_PROD_RELEASE }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Reference: https://docs.docker.com/build/ci/github-actions/push-multi-registries/
      # Reference: https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ env.IS_ORIGINAL_REPO }}
          file: nmdc_runtime/${{ matrix.image }}.Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  release:
    needs: build


    runs-on: ubuntu-latest

    strategy:
      matrix:
        deployment: [ runtime-api, dagster-dagit, dagster-daemon ]

    steps:
      - name: Redeploy ${{ env.RANCHER_NAMESPACE }}:${{ matrix.deployment }}
        if: ${{ env.IS_ORIGINAL_REPO }}
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.RANCHER_URL }}/v3/project/${{ secrets.RANCHER_CONTEXT }}/workloads/deployment:${{ env.RANCHER_NAMESPACE }}:${{ matrix.deployment }}?action=redeploy
          method: POST
          bearerToken: ${{ secrets.RANCHER_TOKEN }}
