name: Build Docker images and release to Spin and GKE

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '.github/workflows/build-and-release-to-spin.yml'
      - 'Makefile'
      - '**/Dockerfile'
      - '**.py'
      - 'pyproject.toml'
      - 'uv.lock'
      # CSS and JavaScript used to customize Swagger UI page:
      - 'nmdc_runtime/api/swagger_ui/assets/**/*.css'
      - 'nmdc_runtime/api/swagger_ui/assets/**/*.js'

env:
  # We don't want to do certain steps if this is running in a fork
  IS_ORIGINAL_REPO: ${{ github.repository == 'microbiomedata/nmdc-runtime' }}

  # Used to determine if we add the special `prod` Docker image tag
  IS_PROD_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

  # Used when sending redeploy action requests to Rancher
  RANCHER_NAMESPACE: ${{ startsWith(github.ref, 'refs/tags/v') && 'nmdc' || 'nmdc-dev' }}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image: [ fastapi, dagster ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # history for all branches and tags is needed for setuptools-scm (part of build and push step)
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Generate tags and labels for the Docker container images.
      #
      # Note: The `type=sha,format=long` line makes it so every image is tagged with the Git commit hash.
      #       We do this so people can reference (i.e. pin) a specific image version, even ones not tagged
      #       with a version number via the `type=semver,pattern={{version}}` line. (The other tags may
      #       refer to different image versions over time, so they cannot be used for this purpose.)
      #
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            microbiomedata/nmdc-runtime-${{ matrix.image }}
            ghcr.io/microbiomedata/nmdc-runtime-${{ matrix.image }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=prod,enable=${{ env.IS_PROD_RELEASE }}
            type=sha,format=long

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Reference: https://docs.docker.com/build/ci/github-actions/push-multi-registries/
      # Reference: https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ env.IS_ORIGINAL_REPO }}
          file: nmdc_runtime/Dockerfile
          # Note: Since our `Dockerfile` describes multiple stages, we use the `target` option to specify a stage.
          #       Reference: https://github.com/marketplace/actions/build-and-push-docker-images#inputs
          target: ${{ matrix.image }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  # Use the Rancher API to redeploy the specified deployments,
  # causing them to use the newly-pushed container images.
  #
  # Note: This `release` job is the Spin counterpart to the subsequently-added `restart-dev-deployments` job below.
  #       TODO: Standardize the jobs' names, if we keep this `release` job long term.
  #
  release:
    name: Restart deployments on Spin
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deployment: [ runtime-api, dagster-dagit, dagster-daemon ]

    steps:
      - name: Redeploy ${{ env.RANCHER_NAMESPACE }}:${{ matrix.deployment }}
        if: ${{ env.IS_ORIGINAL_REPO }}
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.RANCHER_URL }}/v3/project/${{ secrets.RANCHER_CONTEXT }}/workloads/deployment:${{ env.RANCHER_NAMESPACE }}:${{ matrix.deployment }}?action=redeploy
          method: POST
          bearerToken: ${{ secrets.RANCHER_TOKEN }}

################# Commented-out to un-break this workflow ###################
#
#  # Trigger a remotely-defined GHA workflow that uses Argo CD to restart
#  # the (dev) deployments hosted on Google Kubernetes Engine (GKE), causing
#  # Kubernetes to pull and use the newly-built-and-pushed container images.
#  restart-dev-deployments:
#    name: Restart (dev) deployments on GKE
#    needs: [ build ]
#    permissions: { contents: read }
#    # Note: The `jobs.<job_id>.if` key doesn't have access to the `env` context, but does have access to
#    #       the `github` context, so we effectively re-derive the values of `env.IS_ORIGINAL_REPO` and
#    #       `env.IS_PROD_RELEASE` from the `github` context here.
#    #       Docs: https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#context-availability
#    #   ┏━━━━━━━━━━━━━━━ IS_ORIGINAL_REPO ━━━━━━━━━━━━━━━┓ and ┏━━━━━━━ not IS_PROD_RELEASE ━━━━━━━┓
#    if: github.repository == 'microbiomedata/nmdc-runtime' && !startsWith(github.ref, 'refs/tags/v')
#    uses: microbiomedata/nmdc-cloud-deployment/.github/workflows/argocd-restart-runtime.yaml@main
#
#############################################################################
