# This GitHub Actions workflow spins up the "test" Docker Compose stack and runs automated tests within it.
# Reference: https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions
name: Python application

# Note: The following events will trigger this workflow:
#       1. Someone pushes a commit to `main` that includes changes to any of the listed files.
#       2. Someone opens a pull request that includes changes to any of the listed files.
#       3. Someone clicks the "Run workflow" button on the "Actions" tab on GitHub.
#
#  References:
#  - https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/triggering-a-workflow#example-including-paths
#  - https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
#
on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/python-app.yml'
      - 'Makefile'
      - '**/Dockerfile'
      - '**.py'
      - 'pyproject.toml'
      - 'uv.lock'
      - '!util/load_testing/**'
  pull_request:
    paths:
      - '.github/workflows/python-app.yml'
      - 'Makefile'
      - '**/Dockerfile'
      - '**.py'
      - 'pyproject.toml'
      - 'uv.lock'
      - '!util/load_testing/**'
  # Allow developers to trigger this workflow manually via the "Actions" page on GitHub.
  # Reference: https://docs.github.com/en/actions/managing-workflow-runs-and-deployments/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: { }

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # update version to maintain consistency across workflows
    - name: Build and start containers upon which test runner depends
      run: make up-test
    # When running this GHA workflow job with the "Enable debug logging" checkbox marked
    # in the GitHub web UI; wait a few seconds, then dump the `fastapi` container logs.
    #
    # Note: This is in an attempt to facilitate debugging. The failure of that container to
    #       start up has been a relatively common source of GitHub Actions workflow failures
    #       (and we think seeing the container's logs will make debugging easier).
    #
    - name: Sleep
      if: runner.debug == '1'
      uses: juliangruber/sleep-action@v2.0.0
      with:
        time: 20s
    - name: Dump FastAPI container logs (for debugging)
      if: runner.debug == '1'
      run: docker compose --file docker-compose.test.yml logs fastapi
    - name: Run tests
      run: make run-test
